<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="net.koreate.dao.ChecklistDao">

	<insert id="checklistVo">
		INSERT INTO td_step_1_1(mwid, matchmaker_date, matchmaker_day,matchmaker_place, matchmaker_etc)
		VALUES (#{mwid}, #{matchmaker_date}, #{matchmaker_day}, #{matchmaker_place}, #{matchmaker_etc})
	</insert>
	
	<select id="getChecklist" resultType="net.koreate.vo.ChecklistVo">
		SELECT * FROM td_step_1_1 
		WHERE mwid =  #{mwid}
	</select>
	
	<select id="getCheckList" resultType="net.koreate.vo.ChecklistVo">
		SELECT * FROM td_step_1_1
		WHERE mwid = #{mwid}
	</select>
	
<!-- 	<update id=updateChecklist" resultType="net.koreate.vo.ChecklistVo">
		UPDATE set mwid=#{mwid}, matchmaker_date=#{matchmaker_date}, matchmaker_day=#{matchmaker_day}, matchmaker_place=#{matchmaker_place}, matchmaker_etc=#{matchmaker_etc} 
		WHERE mwid=#{mwid}
	</update> -->
</mapper>