@charset "UTF-8";

.table {
	width: auto;
	height: 200px;
	margin: 50px auto;
}

#textmoney {
	font-size: 2.3em;
}

#moneyvaluemin, #moneyvaluemax {
	width: auto;
	height: 60px;
	background: #2b303b;
	border: none;
	font-size: 1.6em;
	color: #63717f;
	text-align: right;
}

#moneyvaluemin:hover, #moneyvaluemax:hover,
#moneyvaluemin:focus, #moneyvaluemax:focus,
#moneyvaluemin:active, #moneyvaluemax:active {
	outline: none;
	background: #ffffff;
	border: 1px solid #000;
}

.button {
	background: #212529;
	color: #fff;
	border: none;
	position: relative;
	height: 60px;
	font-size: 1.6em;
	padding: 0 1em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.button:hover {
	background: #fff;
	color: #212529;
}

.button:before, button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #212529;
	transition: 400ms ease all;
}

.button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.button:hover:before, button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}