/** ADD YOUR AWESOME CODES HERE **/
#home {
	margin: 20px 20px;
	border: 1px solid gray;
}

header {
	margin-bottom: 10px;
}

header:hover {
	
}

.custom {
	width: 100%;
	position: fixed;
	top: 0; left: 0;
}

.custom-right {
	text-align: right;
}