<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.WeddingHallDao">
	<select id="SearchArea" resultType="WDHVO">
		SELECT * FROM made_wedding_halls
		WHERE hall_area = #{hall_area}
	</select>
	<select id="SearchAllhall" resultType="WDHVO">
		SELECT * FROM made_wedding_halls
	</select>
	<select id="SearchAllstudio" resultType="WDSVO">
		SELECT * FROM made_wedding_studios
	</select>
	
	<!-- 2018/10/30 -->
	<insert id="hallAdd">
		INSERT INTO made_wedding_halls(hall_name, hall_location, hall_person, hall_price, hall_thema, hall_contents, hall_link, hall_area)
		VALUES (#{hall_name}, #{hall_location}, #{hall_person}, #{hall_price}, #{hall_thema}, #{hall_contents}, #{hall_link}, #{hall_area})
	</insert>
	<insert id="studioAdd">
		INSERT INTO made_wedding_studios(studio_name, studio_location, studio_person, studio_price, studio_thema, studio_contents, studio_link, studio_area)
		VALUES (#{studio_name}, #{studio_location}, #{studio_person}, #{studio_price}, #{studio_thema}, #{studio_contents}, #{studio_link}, #{studio_area})
	</insert>
	<select id="getHallByHNO" resultType="WDHVO">
		SELECT * FROM made_wedding_halls
		WHERE hall_hno = #{hall_hno}
	</select>
	<select id="getStudioByHNO" resultType="WDSVO">
		SELECT * FROM made_wedding_studios
		WHERE studio_hno = #{studio_hno}
	</select>
	<update id="hallEdit">
		UPDATE made_wedding_halls SET hall_name = #{hall_name},
		hall_location = #{hall_location}, hall_person = #{hall_person},
		hall_price = #{hall_price}, hall_thema = #{hall_thema},
		hall_contents = #{hall_contents}, hall_link = #{hall_link},
		hall_area = #{hall_area} WHERE hall_hno = #{hall_hno}
	</update>
	<update id="studioEdit">
		UPDATE made_wedding_studios SET studio_name = #{studio_name},
		studio_location = #{studio_location}, studio_person = #{studio_person},
		studio_price = #{studio_price}, studio_thema = #{studio_thema},
		studio_contents = #{studio_contents}, studio_link = #{studio_link},
		studio_area = #{studio_area} WHERE studio_hno = #{studio_hno}
	</update>
	<delete id="hallDeleteByHNO">
		DELETE FROM made_wedding_halls WHERE hall_hno = #{hno}
	</delete>
	<delete id="studioDeleteByHNO">
		DELETE FROM made_wedding_studios WHERE studio_hno = #{hno}
	</delete>
	
	<!-- 2018/11/06 -->
	<select id="SearchAreaHallDetail" resultType="WDHVO">
		SELECT * FROM made_wedding_halls
		WHERE hall_area = #{hall_area} AND hall_link = #{hall_link}
	</select>
	
	<!-- 2018/11/07 -->
	<select id="getAttachHallImg" resultType="string">
		SELECT fullName FROM made_wedding_halls_img
		WHERE hno = #{hno} AND area = #{hall_area} AND link = #{hall_link}
	</select>
	<select id="getAttachStudioImg" resultType="string">
		SELECT fullName FROM made_wedding_studios_img
		WHERE hno = #{hno} AND area = #{studio_link} AND link = #{studio_area}
	</select>
	<insert id="addHallAttach">
		INSERT INTO made_wedding_halls_img(hno, fullName, area, link)
		VALUES(#{HallVo.hall_hno}, #{file}, #{HallVo.hall_area}, #{HallVo.hall_link})
	</insert>
	<insert id="addStudioAttach">
		INSERT INTO made_wedding_studios_img(hno, fullName, area, link)
		VALUES(#{StudioVo.studio_hno}, #{file}, #{StudioVo.studio_area}, #{StudioVo.studio_link})
	</insert>
	
	<!-- 2018/11/12 -->
	<delete id="hallDeleteImgByHNO">
		DELETE FROM made_wedding_halls_img WHERE hno = #{hno} AND area = #{WeddingHallVo.hall_area} AND link = #{WeddingHallVo.hall_link}
	</delete>
	<delete id="studioDeleteImgByHNO">
		DELETE FROM made_wedding_halls_img WHERE hno = #{hno} AND area = #{WeddingStudioVo.studio_area} AND link = #{WeddingStudioVo.studio_link}
	</delete>
</mapper>