<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.WeddingHallDao">
	<select id="SearchArea" resultType="WDHVO">
		SELECT * FROM made_wedding_halls
		WHERE hall_area = #{hall_area}
	</select>
	<select id="SearchAllhall" resultType="WDHVO">
		SELECT * FROM made_wedding_halls
	</select>
	<select id="SearchAllstudio" resultType="WDSVO">
		SELECT * FROM made_wedding_studios
	</select>
</mapper>