<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.MemberDao">
	<select id="registerBefor" resultType="MBVO">
		SELECT * FROM made_wedding
		WHWEW mwid = #{mwid}
	</select>
	<insert id="register">
		INSERT INTO made_wedding(mwid, mwpw, mwname)
		VALUES (#{mwid}, #{mwpw}, #{mwname})
	</insert>
	<select id="login" resultType="MBVO">
		SELECT * FROM made_wedding
		WHWEW mwid = #{mwid}
	</select>
</mapper>